In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
data = yf.download("AAPL", start="2022-10-18", end="2023-10-18")
print(data)

[*********************100%%**********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2022-10-18  145.490005  146.699997  140.610001  143.750000  142.714233
2022-10-19  141.690002  144.949997  141.500000  143.860001  142.823425
2022-10-20  143.020004  145.889999  142.649994  143.389999  142.356812
2022-10-21  142.869995  147.850006  142.649994  147.270004  146.208862
2022-10-24  147.190002  150.229996  146.000000  149.449997  148.373154
...                ...         ...         ...         ...         ...
2023-10-11  178.199997  179.850006  177.600006  179.800003  179.563431
2023-10-12  180.070007  182.339996  179.039993  180.710007  180.472244
2023-10-13  181.419998  181.929993  178.139999  178.850006  178.614685
2023-10-16  176.750000  179.080002  176.509995  178.720001  178.484863
2023-10-17  176.649994  178.419998  174.800003  177.149994  176.916916

              Volume
Date
2022-10-18  99136600
2022-10-19  61758300
2022-10-20  64522000
2022-10-21  86548600
2022-10-24  75981900
...              ...
2023-10-11  47551100
2023-10-12  56743100
2023-10-13  51427100
2023-10-16  52517000
2023-10-17  57549400

[251 rows x 6 columns]

In [3]:
df = pd.DataFrame(data)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-18,145.490005,146.699997,140.610001,143.750000,142.714233,99136600
2022-10-19,141.690002,144.949997,141.500000,143.860001,142.823425,61758300
2022-10-20,143.020004,145.889999,142.649994,143.389999,142.356812,64522000
2022-10-21,142.869995,147.850006,142.649994,147.270004,146.208862,86548600
2022-10-24,147.190002,150.229996,146.000000,149.449997,148.373154,75981900

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-18 to 2023-10-17
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       251 non-null    float64
 1   High       251 non-null    float64
 2   Low        251 non-null    float64
 3   Close      251 non-null    float64
 4   Adj Close  251 non-null    float64
 5   Volume     251 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [5]:
df["Open-Close(Candle-Body)"] = df["Close"] - df["Open"]

In [6]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,Open-Close(Candle-Body)
Date,,,,,,,
2022-10-18,145.490005,146.699997,140.610001,143.750000,142.714233,99136600,-1.740005
2022-10-19,141.690002,144.949997,141.500000,143.860001,142.823425,61758300,2.169998
2022-10-20,143.020004,145.889999,142.649994,143.389999,142.356812,64522000,0.369995
2022-10-21,142.869995,147.850006,142.649994,147.270004,146.208862,86548600,4.400009
2022-10-24,147.190002,150.229996,146.000000,149.449997,148.373154,75981900,2.259995

In [12]:


df['Candle'] = ['Bearish' if x < 0 else 'Bullish' for x in df["Open-Close(Candle-Body)"]]

In [13]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,Open-Close(Candle-Body),Candle
Date,,,,,,,,
2022-10-18,145.490005,146.699997,140.610001,143.750000,142.714233,99136600,-1.740005,Bearish
2022-10-19,141.690002,144.949997,141.500000,143.860001,142.823425,61758300,2.169998,Bullish
2022-10-20,143.020004,145.889999,142.649994,143.389999,142.356812,64522000,0.369995,Bullish
2022-10-21,142.869995,147.850006,142.649994,147.270004,146.208862,86548600,4.400009,Bullish
2022-10-24,147.190002,150.229996,146.000000,149.449997,148.373154,75981900,2.259995,Bullish